header > h1 {
    font-size: 3.5vw;
}
header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 0.5fr  1fr;
}
header > div {
    grid-column-start: 3;
    width: 100%;
    display: flex;
    align-items: center;
}
header > button {
    grid-column-start: 5;
    border-color: #1ea6cb;
    background-color: transparent;
    border-radius: .5vw;
    height: 5vw;
    width: 17vw;
    align-self: center;
    color: #1ea6cb;
    font-size: 1.5vw;
}
#sla~p{
    color: #1ea6cb;
}

#sla{
    width: 1w;
    height: 4vw;
    margin: 0 0.8vw 0 0.8vw;
    border-right: 2px solid #d8d8d8;
    transform: rotate(35deg);
}
main{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
    font-weight: 100;
}
body{
    margin: 1rem;
    font-family: Helvetica;
}
img{
    max-width: 100%;
    height: auto;
    align-items: flex-end;
    margin-top: auto;
}
article{
    text-align: center;
    border: 2px solid #d8d8d8;
    border-radius: 0.7vw;
    display: flex;
    flex-flow: column;
}

.stats{
    display: flex;
    align-self: center;
    background-color: #f9f9f9;
    justify-content: center;
    width: 100%;
    color: gray;
    border-top: 2px solid #d8d8d8;
}

.info {
    padding: 1.5vw;

}

.gBar{
    width: -1vw;
    padding: 0;
    height: 2vw;
    border-right: 2px solid #d8d8d8;
    align-self: center;
}


article > button{
    align-self: center;
    padding: 2vw 0 2vw 0;
    background-color: #1ea6cb;
    color: white;
    border: none;
    width: 101%;
    border-radius: 0 0 0.6vw 0.6vw;
    font-size: 1.5vw;
    font-weight: 100;
}
article > img{
    border-radius: 0.6vw 0.6vw 0 0 ;

}
article > h1{
    width: 90%;
    align-self: center;
    font-weight: 500;
}
.stats  p {
    font-weight: bold;
}


